<!DOCTYPE html>
  <!-- Coding by CodingLab | www.codinglabweb.com -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!----===== Boxicons CSS ===== -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

    <div class="flex mt-6 mb-3">
        <div class="font-semibold">Notifications</div>
        <div class="text-gray-400 ml-auto cursor-pointer font-medium text-sm">See all</div>
    </div>

    <div class="notifications__container rounded-xl p-4 pl-5 pr-5">
        <div class="notifications__title flex">
            <div class="text-base font-semibold">Emath Class</div>
            <div class="btn ml-auto class_register text-sm font-medium p-1 pl-4 pr-4 rounded-md cursor-pointer">Register</div>
        </div>
        
    </div>


    {% include 'root.html' %}
    <style>
    .notifications__container {
        height: 360px;
        width: 100%;
        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
    }
    
    .class_register {
        background: #242526;
        color: white
    }
    

    </style>
</body>
</html>