<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <!----========== Favicon ========== -->
        {% load static %}
        <link rel="icon" type="image/x-icon" href="{% static 'images/emath.png' %}">
    
        <!----========== Boxicons CSS ========== -->
        <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
        <script src="https://cdn.tailwindcss.com"></script>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    
        <!----========== Script ========== -->
     
      
        <title>{% block title %} {% endblock %}</title>
    </head>
<body>
    <div class="login_container">
        <div class="login grid grid-cols-2 m-auto">
            <div class="login_banner bg-cover bg-center w-full h-screen relative rounded-l-3xl">
                <a href="{% url 'home' %}">
                    <div class="image-text flex items-center mt-4">
                        {% load static %}
                        <img class="m-2 mb-0 h-10 w-10 " src="{% static 'images/emath.png' %}" alt="">
                        <div class="text-white text-2xl mt-2 font-semibold">Emath</div>
                    </div>
                </a>

                <div class="login_content absolute">
                    <div class=" flex justify-center text-5xl font-semibold text-white">
                        Welcome To Emath
                    </div>
                    <div class=" flex text-lg mt-2 justify-center text-white">
                        Sign in to continue acess
                    </div>
                </div>
                

                
                
            </div>

            <div class="login_page flex m-auto">
                <div class="form_container">


                    <div class="user_login">
                        {% load static %}
                        <img class="user_img h-24 w-24 ml-auto mr-auto rounded-full mt-4 mb-2" src="{% static 'images/user.png' %}" alt="">
                        <div class="block">
                            <div class="text-lg font-semibold ml-6">Hi there!✋🏻</div>
                            <div class="text-sm text-gray-400 font-medium">Let's learn something new today!</div>
                        </div>
                    </div>

                    <div class="inline-block mt-4 w-full">
                        <div class="grid grid-cols-2">
                            <div class="w-full cursor-pointer font-medium pl-8 text-blue-500 border-r-2" onclick="login()">Login</div>
                            <div class="w-full cursor-pointer font-medium pr-8 text-blue-500 " onclick="register()">Register</div>
                        </div>
                        
                        <hr id="Indicator" class="bg-blue-500">
                    </div>

                    <form id="LoginForm">
                        <div class="email h-10 ml-auto mr-auto bg-white flex items-center rounded-lg text-gray-400 mt-4 p-1">
                            <i class='bx bx-envelope m-2'></i>
                            <input class="w-80 text-sm outline-none font-medium" type="text" placeholder="Email">
                        </div>
                        <div class="password h-10 ml-auto mr-auto bg-white flex items-center rounded-lg text-gray-400 mt-4 p-1">
                            <i class='bx bx-hide m-2'></i>
                            <input class="w-80 text-sm outline-none font-medium" type="password" placeholder="Password">
                        </div>
                        <div class="text-sm flex items-center ml-auto mr-auto text-blue-500 mt-4 font-medium">
                            <input class="mr-1" type="checkbox" id="" name="" value="">
                            <label for=""> Remember me</label><br>
                        </div>
            
                        <a href="#">
                            <div class="btn bg-blue-500 ml-auto mr-auto text-white flex justify-center p-2 mt-4 rounded-lg font-medium">
                                Log In
                            </div>
                        </a>
                        
                        
                    </form>

                    <form id="RegisterForm">
                        <div class="email h-10 ml-auto mr-auto bg-white flex items-center rounded-lg text-gray-400 mt-4 p-1">
                            <i class='bx bx-user m-2'></i>
                            <input class="w-80 text-sm outline-none font-medium" type="text" placeholder="Username">
                        </div>
                        <div class="email h-10 ml-auto mr-auto bg-white flex items-center rounded-lg text-gray-400 mt-4 p-1">
                            <i class='bx bx-envelope m-2'></i>
                            <input class="w-80 text-sm outline-none font-medium" type="text" placeholder="Email">
                        </div>
                        <div class="password h-10 ml-auto mr-auto bg-white flex items-center rounded-lg text-gray-400 mt-4 p-1">
                            <i class='bx bx-hide m-2'></i>
                            <input class="w-80 text-sm outline-none font-medium" type="password" placeholder="Password">
                        </div>
                        <a href="#">
                            <div class="btn bg-blue-500 ml-auto mr-auto text-white flex justify-center p-2 mt-4 rounded-lg font-medium">
                                Register
                            </div>
                        </a>
                    </form>
                </div>
            </div>
        </div>
        
    </div>
    
    
    <script>
        
        var LoginForm = document.getElementById("LoginForm");
        var RegisterForm = document.getElementById("RegisterForm");
        var Indicator = document.getElementById("Indicator");
            
            function register(){
                RegisterForm.style.transform = "translateX(0px)";
                LoginForm.style.transform = "translateX(0px)";
                Indicator.style.transform = "translateX(220px)";
            }

            function login(){
                RegisterForm.style.transform = "translateX(360px)";
                LoginForm.style.transform = "translateX(360px)";
                Indicator.style.transform = "translateX(60px)";
            }

        </script>
    
</body>
</html>