{% extends 'main/base.html' %}

{% block title %} Emath | Submissions {% endblock %}
{% block headertitle %} Submissions {% endblock %}

{% block submissions_container %}
    <!----========== SUBMISSIONS CONTAINER ==========---->
    <div class="submissions">
        <div class="submissions_container mt-8">
            <div class="result-ts w-full h-10 rounded-tl-2xl flex justify-center items-center">
                Result
            </div>
            <div class="time-ts w-full h-10  flex justify-center items-center">
                Time
            </div>
            <div class="user-ts w-full h-10 flex justify-center items-center">
                Username
            </div>

            <div class="contest-ts w-full h-10 flex justify-center items-center">
                Contest
            </div>

            <div class="detail-ts w-full h-10 flex rounded-tr-2xl justify-center items-center">

            </div>
        </div>

        <div class="submissions_container_detail mt-0.5">
            <div class="result w-full h-10 flex justify-center items-center">
                70
            </div>
            <div class="time w-full h-10 flex justify-center items-center">
                00:17:56
            </div>
            <div class="user w-full h-10 flex justify-center items-center">
                Bui Hai Van
            </div>

            <div class="contest w-full h-10 flex justify-center items-center">
                Perimeter01
            </div>

            <a href="#">
                <div class="detail w-full h-10 flex justify-center items-center">
                    <i class='bx bx-window-open'></i>
                </div>
            </a>
            
        </div>

        <div class="submissions_container_detail mt-0.5">
            <div class="result w-full h-10 flex justify-center items-center">
                70
            </div>
            <div class="time w-full h-10 flex justify-center items-center">
                00:17:56
            </div>
            <div class="user w-full h-10 flex justify-center items-center">
                Bui Hai Van
            </div>

            <div class="contest w-full h-10 flex justify-center items-center">
                Perimeter01
            </div>

            <a href="#">
                <div class="detail w-full h-10 flex justify-center items-center">
                    <i class='bx bx-window-open'></i>
                </div>
            </a>
            
        </div>

        <div class="submissions_container_detail mt-0.5">
            <div class="result w-full h-10 flex justify-center items-center">
                70
            </div>
            <div class="time w-full h-10 flex justify-center items-center">
                00:17:56
            </div>
            <div class="user w-full h-10 flex justify-center items-center">
                Bui Hai Van
            </div>

            <div class="contest w-full h-10 flex justify-center items-center">
                Perimeter01
            </div>

            <a href="#">
                <div class="detail w-full h-10 flex justify-center items-center">
                    <i class='bx bx-window-open'></i>
                </div>
            </a>
            
        </div>

        <div class="submissions_container_detail mt-0.5">
            <div class="result w-full h-10 flex justify-center items-center">
                70
            </div>
            <div class="time w-full h-10 flex justify-center items-center">
                00:17:56
            </div>
            <div class="user w-full h-10 flex justify-center items-center">
                Bui Hai Van
            </div>

            <div class="contest w-full h-10 flex justify-center items-center">
                Perimeter01
            </div>

            <a href="#">
                <div class="detail w-full h-10 flex justify-center items-center">
                    <i class='bx bx-window-open'></i>
                </div>
            </a>
            
        </div>

        <div class="submissions_container_detail mt-0.5">
            <div class="result w-full h-10 flex justify-center items-center">
                70
            </div>
            <div class="time w-full h-10 flex justify-center items-center">
                00:17:56
            </div>
            <div class="user w-full h-10 flex justify-center items-center">
                Bui Hai Van
            </div>

            <div class="contest w-full h-10 flex justify-center items-center">
                Perimeter01
            </div>

            <a href="#">
                <div class="detail w-full h-10 flex justify-center items-center">
                    <i class='bx bx-window-open'></i>
                </div>
            </a>
            
        </div>

        <div class="submissions_container_detail mt-0.5">
            <div class="result w-full h-10 flex justify-center items-center">
                70
            </div>
            <div class="time w-full h-10 flex justify-center items-center">
                00:17:56
            </div>
            <div class="user w-full h-10 flex justify-center items-center">
                Bui Hai Van
            </div>

            <div class="contest w-full h-10 flex justify-center items-center">
                Perimeter01
            </div>

            <a href="#">
                <div class="detail w-full h-10 flex justify-center items-center">
                    <i class='bx bx-window-open'></i>
                </div>
            </a>
            
        </div>

        <div class="submissions_container_detail mt-0.5">
            <div class="result w-full h-10 flex justify-center items-center">
                70
            </div>
            <div class="time w-full h-10 flex justify-center items-center">
                00:17:56
            </div>
            <div class="user w-full h-10 flex justify-center items-center">
                Bui Hai Van
            </div>

            <div class="contest w-full h-10 flex justify-center items-center">
                Perimeter01
            </div>

            <a href="#">
                <div class="detail w-full h-10 flex justify-center items-center">
                    <i class='bx bx-window-open'></i>
                </div>
            </a>
            
        </div>

        <div class="submissions_container_detail mt-0.5">
            <div class="result w-full h-10 flex justify-center items-center">
                70
            </div>
            <div class="time w-full h-10 flex justify-center items-center">
                00:17:56
            </div>
            <div class="user w-full h-10 flex justify-center items-center">
                Bui Hai Van
            </div>

            <div class="contest w-full h-10 flex justify-center items-center">
                Perimeter01
            </div>

            <a href="#">
                <div class="detail w-full h-10 flex justify-center items-center">
                    <i class='bx bx-window-open'></i>
                </div>
            </a>
            
        </div>

        <div class="submissions_container_detail mt-0.5">
            <div class="result w-full h-10 flex justify-center items-center">
                70
            </div>
            <div class="time w-full h-10 flex justify-center items-center">
                00:17:56
            </div>
            <div class="user w-full h-10 flex justify-center items-center">
                Bui Hai Van
            </div>

            <div class="contest w-full h-10 flex justify-center items-center">
                Perimeter01
            </div>

            <a href="#">
                <div class="detail w-full h-10 flex justify-center items-center">
                    <i class='bx bx-window-open'></i>
                </div>
            </a>
            
        </div>

        <div class="submissions_container_detail mt-0.5">
            <div class="result w-full h-10 flex justify-center items-center">
                70
            </div>
            <div class="time w-full h-10 flex justify-center items-center">
                00:17:56
            </div>
            <div class="user w-full h-10 flex justify-center items-center">
                Bui Hai Van
            </div>

            <div class="contest w-full h-10 flex justify-center items-center">
                Perimeter01
            </div>

            <a href="#">
                <div class="detail w-full h-10 flex justify-center items-center">
                    <i class='bx bx-window-open'></i>
                </div>
            </a>
            
        </div>

        <div class="submissions_container_detail mt-0.5">
            <div class="result w-full h-10 flex justify-center items-center">
                70
            </div>
            <div class="time w-full h-10 flex justify-center items-center">
                00:17:56
            </div>
            <div class="user w-full h-10 flex justify-center items-center">
                Bui Hai Van
            </div>

            <div class="contest w-full h-10 flex justify-center items-center">
                Perimeter01
            </div>

            <a href="#">
                <div class="detail w-full h-10 flex justify-center items-center">
                    <i class='bx bx-window-open'></i>
                </div>
            </a>
            
        </div>

        <div class="submissions_container mt-0.5 mb-20">
            <div class="result-ts w-full h-10 rounded-bl-2xl flex justify-center items-center">
            
            </div>
            <div class="time-ts w-full h-10  flex justify-center items-center">
                
            </div>
            <div class="user-ts w-full h-10 flex justify-center items-center">
                
            </div>

            <div class="contest-ts w-full h-10 flex justify-center items-center">
                
            </div>

            <div class="detail-ts w-full h-10 flex rounded-br-2xl justify-center items-center">

            </div>
        </div>
    </div>
{% endblock %}