<!DOCTYPE html>
<html lang="en">
    {% include 'headhtml.html' %} 
    <header><title>Emath | Problems</title></header>
<body>
    {% include 'navbar.html' %} 
    <div class="home_container ml-20 mr-20 p-8 pt-6">
        
        <div class="header flex">
            <div class="user">
                <div class="text-2xl font-semibold">Problems!✋🏻</div>
            </div>
    
            {% include 'search_bar.html' %}
            
        </div>


        <div class="problems_categories">
            <div class="mt-8 text-xl font-semibold flex items-center">
                <i class='bx bxs-star text-yellow-400 mr-2' ></i>
                Class 1 
            </div>
            <div class="home_class grid grid-cols-3 mt-4 gap-4">
                <div class="emath_class bg-white rounded-xl p-2.5 relative">
                    <img class="h-32 w-full object-cover rounded-lg" src="https://wallpapercave.com/wp/wp8216868.jpg" alt="">
                    <div class="class_level absolute top-5 right-5 bg-white text-xs font-medium text-black rounded-full p-1 pl-2.5 pr-2.5"> Easy</div>
                    
                    <div class="text-sm font-medium m-1 mt-2.5">Addition 1</div>
                    <div class="text-xs text-gray-400 m-1">Additition and subtraction</div>
                    
                    <div class="class_detail flex justify-between mt-2">
                        <div class="task flex text-gray-400 items-center">
                            <i class='bx bx-task'></i>
                            <span class="text-sm font-medium ml-1">24</span>
                        </div>
                        <div class="task flex text-gray-400 items-center">
                            <i class='bx bxs-star text-yellow-400'></i>
                            <span class="text-sm font-medium ml-1">2308</span>
                        </div>
                        <div class="task flex text-gray-400 items-center">
                            <i class='bx bx-user'></i>
                            <span class="text-sm font-medium ml-1">120</span>
                        </div>
                    </div>

                    <div class="">
                        <div class="btn cursor-pointer flex justify-center items-center mt-4 text-xs font-meidum rounded-md bg-black text-white p-1.5 pl-3 pr-3">
                            <i class='bx bx-task mr-1'></i>
                            Take a test
                        </div>
                    </div>
                    

                </div>

                <div class="emath_class bg-white rounded-xl p-2.5 relative">
                    <img class="h-32 w-full object-cover rounded-lg" src="https://wallpapercave.com/wp/wp8216868.jpg" alt="">
                    <div class="class_level absolute top-5 right-5 bg-white text-xs font-medium text-black rounded-full p-1 pl-2.5 pr-2.5"> Medium</div>
                    
                    <div class="text-sm font-medium m-1 mt-2.5">Addition 1</div>
                    <div class="text-xs text-gray-400 m-1">Additition and subtraction</div>
                    
                    <div class="class_detail flex justify-between mt-2">
                        <div class="task flex text-gray-400 items-center">
                            <i class='bx bx-task'></i>
                            <span class="text-sm font-medium ml-1">24</span>
                        </div>
                        <div class="task flex text-gray-400 items-center">
                            <i class='bx bxs-star text-yellow-400'></i>
                            <span class="text-sm font-medium ml-1">2308</span>
                        </div>
                        <div class="task flex text-gray-400 items-center">
                            <i class='bx bx-user'></i>
                            <span class="text-sm font-medium ml-1">120</span>
                        </div>
                    </div>

                    <div class="">
                        <div class="btn cursor-pointer flex justify-center items-center mt-4 text-xs font-meidum rounded-md bg-black text-white p-1.5 pl-3 pr-3">
                            <i class='bx bx-task mr-1'></i>
                            Take a test
                        </div>
                    </div>
                    

                </div>

                <div class="emath_class bg-white rounded-xl p-2.5 relative">
                    <img class="h-32 w-full object-cover rounded-lg" src="https://wallpapercave.com/wp/wp8216868.jpg" alt="">
                    <div class="class_level absolute top-5 right-5 bg-white text-xs font-medium text-black rounded-full p-1 pl-2.5 pr-2.5"> Hard</div>
                    
                    <div class="text-sm font-medium m-1 mt-2.5">Addition 1</div>
                    <div class="text-xs text-gray-400 m-1">Additition and subtraction</div>
                    
                    <div class="class_detail flex justify-between mt-2">
                        <div class="task flex text-gray-400 items-center">
                            <i class='bx bx-task'></i>
                            <span class="text-sm font-medium ml-1">24</span>
                        </div>
                        <div class="task flex text-gray-400 items-center">
                            <i class='bx bxs-star text-yellow-400'></i>
                            <span class="text-sm font-medium ml-1">2308</span>
                        </div>
                        <div class="task flex text-gray-400 items-center">
                            <i class='bx bx-user'></i>
                            <span class="text-sm font-medium ml-1">120</span>
                        </div>
                    </div>

                    <div class="">
                        <div class="btn cursor-pointer flex justify-center items-center mt-4 text-xs font-meidum rounded-md bg-black text-white p-1.5 pl-3 pr-3">
                            <i class='bx bx-task mr-1'></i>
                            Take a test
                        </div>
                    </div>
                    

                </div>

            </div>
        </div>

        <div class="problems_categories">
            <div class="mt-8 text-xl font-semibold flex items-center">
                <i class='bx bxs-star text-yellow-400 mr-2' ></i>
                Class 2
            </div>
            <div class="home_class grid grid-cols-3 mt-4 gap-4">
                <div class="emath_class bg-white rounded-xl p-2.5 relative">
                    <img class="h-32 w-full object-cover rounded-lg" src="https://wallpapercave.com/wp/wp8216868.jpg" alt="">
                    <div class="class_level absolute top-5 right-5 bg-white text-xs font-medium text-black rounded-full p-1 pl-2.5 pr-2.5"> Easy</div>
                    
                    <div class="text-sm font-medium m-1 mt-2.5">Addition 1</div>
                    <div class="text-xs text-gray-400 m-1">Additition and subtraction</div>
                    
                    <div class="class_detail flex justify-between mt-2">
                        <div class="task flex text-gray-400 items-center">
                            <i class='bx bx-task'></i>
                            <span class="text-sm font-medium ml-1">24</span>
                        </div>
                        <div class="task flex text-gray-400 items-center">
                            <i class='bx bxs-star text-yellow-400'></i>
                            <span class="text-sm font-medium ml-1">2308</span>
                        </div>
                        <div class="task flex text-gray-400 items-center">
                            <i class='bx bx-user'></i>
                            <span class="text-sm font-medium ml-1">120</span>
                        </div>
                    </div>

                    <div class="">
                        <div class="btn cursor-pointer flex justify-center items-center mt-4 text-xs font-meidum rounded-md bg-black text-white p-1.5 pl-3 pr-3">
                            <i class='bx bx-task mr-1'></i>
                            Take a test
                        </div>
                    </div>
                    

                </div>

                <div class="emath_class bg-white rounded-xl p-2.5 relative">
                    <img class="h-32 w-full object-cover rounded-lg" src="https://wallpapercave.com/wp/wp8216868.jpg" alt="">
                    <div class="class_level absolute top-5 right-5 bg-white text-xs font-medium text-black rounded-full p-1 pl-2.5 pr-2.5"> Medium</div>
                    
                    <div class="text-sm font-medium m-1 mt-2.5">Addition 1</div>
                    <div class="text-xs text-gray-400 m-1">Additition and subtraction</div>
                    
                    <div class="class_detail flex justify-between mt-2">
                        <div class="task flex text-gray-400 items-center">
                            <i class='bx bx-task'></i>
                            <span class="text-sm font-medium ml-1">24</span>
                        </div>
                        <div class="task flex text-gray-400 items-center">
                            <i class='bx bxs-star text-yellow-400'></i>
                            <span class="text-sm font-medium ml-1">2308</span>
                        </div>
                        <div class="task flex text-gray-400 items-center">
                            <i class='bx bx-user'></i>
                            <span class="text-sm font-medium ml-1">120</span>
                        </div>
                    </div>

                    <div class="">
                        <div class="btn cursor-pointer flex justify-center items-center mt-4 text-xs font-meidum rounded-md bg-black text-white p-1.5 pl-3 pr-3">
                            <i class='bx bx-task mr-1'></i>
                            Take a test
                        </div>
                    </div>
                    

                </div>

                <div class="emath_class bg-white rounded-xl p-2.5 relative">
                    <img class="h-32 w-full object-cover rounded-lg" src="https://wallpapercave.com/wp/wp8216868.jpg" alt="">
                    <div class="class_level absolute top-5 right-5 bg-white text-xs font-medium text-black rounded-full p-1 pl-2.5 pr-2.5"> Hard</div>
                    
                    <div class="text-sm font-medium m-1 mt-2.5">Addition 1</div>
                    <div class="text-xs text-gray-400 m-1">Additition and subtraction</div>
                    
                    <div class="class_detail flex justify-between mt-2">
                        <div class="task flex text-gray-400 items-center">
                            <i class='bx bx-task'></i>
                            <span class="text-sm font-medium ml-1">24</span>
                        </div>
                        <div class="task flex text-gray-400 items-center">
                            <i class='bx bxs-star text-yellow-400'></i>
                            <span class="text-sm font-medium ml-1">2308</span>
                        </div>
                        <div class="task flex text-gray-400 items-center">
                            <i class='bx bx-user'></i>
                            <span class="text-sm font-medium ml-1">120</span>
                        </div>
                    </div>

                    <div class="">
                        <div class="btn cursor-pointer flex justify-center items-center mt-4 text-xs font-meidum rounded-md bg-black text-white p-1.5 pl-3 pr-3">
                            <i class='bx bx-task mr-1'></i>
                            Take a test
                        </div>
                    </div>
                    

                </div>

            </div>
        </div>
        

    </div> 

    <div class="rightbar__container">
        {% include 'home/login.html' %}
        {% include 'home/notifications.html' %}
        {% include 'home/recent_contest.html' %}
    </div> 

    {% include 'root.html' %}
    <style>
        .home_container {
            width: 64%;
        }

        .home_banner {
            background-repeat: no-repeat;
            background-image: url(./static/images/homebanner.png);
        }

        .emath_class, .search_bar, .notification_box {
            box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
        }

        .login__container {
            background: var(--sidebar-color);
            box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
        }

        .login_btn, .register_btn {
            background: #242526;
            color: #fff;
        }

        .login_btn:hover, .register_btn:hover {
            background: #3a3b3c;
        }

        .rightbar__container {
            position: fixed;
            top: 0;
            right: 0;
            margin-left: auto;
            width: 30%;
            height: 100vh;
            overflow: auto;
            background: var(--sidebar-color);
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
            padding: 30px;
        }

        .rightbar__container::-webkit-scrollbar {
            display: none;
        }
    </style>
</body>
</html>
