<!DOCTYPE html>
<html lang="en">
    {% include 'headhtml.html' %} 
<body>
    <div class="search_bar h-10 ml-auto w-96 bg-white flex items-center rounded-lg text-gray-400">
        <i class='bx bx-search icon bx-sm m-2'></i>
        <input class="w-80 text-sm outline-none font-medium" type="text" placeholder="Search something here...">
    </div>

    <div class="notification_box ml-2 text-gray-400 h-10 w-10 bg-white rounded-lg flex justify-center items-center">
        <i class='bx bx-bell bx-sm'></i>
    </div>
</body>
</html>