<!DOCTYPE html>
<html lang="en">
    {% include 'headhtml.html' %} 
    <header><title>Emath | Submissions</title></header>
<body>
    {% include 'navbar.html' %} 
    <div class="home_container ml-20 mr-20 p-8 pt-6">
        
        <div class="header flex">
            <div class="">
                <div class="text-2xl font-semibold">Submissions!✋🏻</div>
            </div>
    
            {% include 'search_bar.html' %}
            
        </div>

        <div class="submissions">
            <div class="submissions_container mt-8">
                <div class="result-ts w-full h-10 rounded-tl-2xl flex justify-center items-center">
                    Result
                </div>
                <div class="time-ts w-full h-10  flex justify-center items-center">
                    Time
                </div>
                <div class="user-ts w-full h-10 flex justify-center items-center">
                    Username
                </div>

                <div class="contest-ts w-full h-10 flex justify-center items-center">
                    Contest
                </div>

                <div class="detail-ts w-full h-10 flex rounded-tr-2xl justify-center items-center">

                </div>
            </div>

            <div class="submissions_container_detail mt-0.5">
                <div class="result w-full h-10 flex justify-center items-center">
                    70
                </div>
                <div class="time w-full h-10 flex justify-center items-center">
                    00:17:56
                </div>
                <div class="user w-full h-10 flex justify-center items-center">
                    Bui Hai Van
                </div>

                <div class="contest w-full h-10 flex justify-center items-center">
                    Perimeter01
                </div>

                <a href="#">
                    <div class="detail w-full h-10 flex justify-center items-center">
                        <i class='bx bx-window-open'></i>
                    </div>
                </a>
                
            </div>

            <div class="submissions_container_detail mt-0.5">
                <div class="result w-full h-10 flex justify-center items-center">
                    70
                </div>
                <div class="time w-full h-10 flex justify-center items-center">
                    00:17:56
                </div>
                <div class="user w-full h-10 flex justify-center items-center">
                    Bui Hai Van
                </div>

                <div class="contest w-full h-10 flex justify-center items-center">
                    Perimeter01
                </div>

                <a href="#">
                    <div class="detail w-full h-10 flex justify-center items-center">
                        <i class='bx bx-window-open'></i>
                    </div>
                </a>
                
            </div>

            <div class="submissions_container_detail mt-0.5">
                <div class="result w-full h-10 flex justify-center items-center">
                    70
                </div>
                <div class="time w-full h-10 flex justify-center items-center">
                    00:17:56
                </div>
                <div class="user w-full h-10 flex justify-center items-center">
                    Bui Hai Van
                </div>

                <div class="contest w-full h-10 flex justify-center items-center">
                    Perimeter01
                </div>

                <a href="#">
                    <div class="detail w-full h-10 flex justify-center items-center">
                        <i class='bx bx-window-open'></i>
                    </div>
                </a>
                
            </div>

            <div class="submissions_container_detail mt-0.5">
                <div class="result w-full h-10 flex justify-center items-center">
                    70
                </div>
                <div class="time w-full h-10 flex justify-center items-center">
                    00:17:56
                </div>
                <div class="user w-full h-10 flex justify-center items-center">
                    Bui Hai Van
                </div>

                <div class="contest w-full h-10 flex justify-center items-center">
                    Perimeter01
                </div>

                <a href="#">
                    <div class="detail w-full h-10 flex justify-center items-center">
                        <i class='bx bx-window-open'></i>
                    </div>
                </a>
                
            </div>

            <div class="submissions_container_detail mt-0.5">
                <div class="result w-full h-10 flex justify-center items-center">
                    70
                </div>
                <div class="time w-full h-10 flex justify-center items-center">
                    00:17:56
                </div>
                <div class="user w-full h-10 flex justify-center items-center">
                    Bui Hai Van
                </div>

                <div class="contest w-full h-10 flex justify-center items-center">
                    Perimeter01
                </div>

                <a href="#">
                    <div class="detail w-full h-10 flex justify-center items-center">
                        <i class='bx bx-window-open'></i>
                    </div>
                </a>
                
            </div>

            <div class="submissions_container_detail mt-0.5">
                <div class="result w-full h-10 flex justify-center items-center">
                    70
                </div>
                <div class="time w-full h-10 flex justify-center items-center">
                    00:17:56
                </div>
                <div class="user w-full h-10 flex justify-center items-center">
                    Bui Hai Van
                </div>

                <div class="contest w-full h-10 flex justify-center items-center">
                    Perimeter01
                </div>

                <a href="#">
                    <div class="detail w-full h-10 flex justify-center items-center">
                        <i class='bx bx-window-open'></i>
                    </div>
                </a>
                
            </div>

            <div class="submissions_container_detail mt-0.5">
                <div class="result w-full h-10 flex justify-center items-center">
                    70
                </div>
                <div class="time w-full h-10 flex justify-center items-center">
                    00:17:56
                </div>
                <div class="user w-full h-10 flex justify-center items-center">
                    Bui Hai Van
                </div>

                <div class="contest w-full h-10 flex justify-center items-center">
                    Perimeter01
                </div>

                <a href="#">
                    <div class="detail w-full h-10 flex justify-center items-center">
                        <i class='bx bx-window-open'></i>
                    </div>
                </a>
                
            </div>

            <div class="submissions_container_detail mt-0.5">
                <div class="result w-full h-10 flex justify-center items-center">
                    70
                </div>
                <div class="time w-full h-10 flex justify-center items-center">
                    00:17:56
                </div>
                <div class="user w-full h-10 flex justify-center items-center">
                    Bui Hai Van
                </div>

                <div class="contest w-full h-10 flex justify-center items-center">
                    Perimeter01
                </div>

                <a href="#">
                    <div class="detail w-full h-10 flex justify-center items-center">
                        <i class='bx bx-window-open'></i>
                    </div>
                </a>
                
            </div>

            <div class="submissions_container_detail mt-0.5">
                <div class="result w-full h-10 flex justify-center items-center">
                    70
                </div>
                <div class="time w-full h-10 flex justify-center items-center">
                    00:17:56
                </div>
                <div class="user w-full h-10 flex justify-center items-center">
                    Bui Hai Van
                </div>

                <div class="contest w-full h-10 flex justify-center items-center">
                    Perimeter01
                </div>

                <a href="#">
                    <div class="detail w-full h-10 flex justify-center items-center">
                        <i class='bx bx-window-open'></i>
                    </div>
                </a>
                
            </div>

            <div class="submissions_container_detail mt-0.5">
                <div class="result w-full h-10 flex justify-center items-center">
                    70
                </div>
                <div class="time w-full h-10 flex justify-center items-center">
                    00:17:56
                </div>
                <div class="user w-full h-10 flex justify-center items-center">
                    Bui Hai Van
                </div>

                <div class="contest w-full h-10 flex justify-center items-center">
                    Perimeter01
                </div>

                <a href="#">
                    <div class="detail w-full h-10 flex justify-center items-center">
                        <i class='bx bx-window-open'></i>
                    </div>
                </a>
                
            </div>

            <div class="submissions_container_detail mt-0.5">
                <div class="result w-full h-10 flex justify-center items-center">
                    70
                </div>
                <div class="time w-full h-10 flex justify-center items-center">
                    00:17:56
                </div>
                <div class="user w-full h-10 flex justify-center items-center">
                    Bui Hai Van
                </div>

                <div class="contest w-full h-10 flex justify-center items-center">
                    Perimeter01
                </div>

                <a href="#">
                    <div class="detail w-full h-10 flex justify-center items-center">
                        <i class='bx bx-window-open'></i>
                    </div>
                </a>
                
            </div>

            <div class="submissions_container mt-0.5 mb-20">
                <div class="result-ts w-full h-10 rounded-bl-2xl flex justify-center items-center">
                    Result
                </div>
                <div class="time-ts w-full h-10  flex justify-center items-center">
                    Time
                </div>
                <div class="user-ts w-full h-10 flex justify-center items-center">
                    Username
                </div>

                <div class="contest-ts w-full h-10 flex justify-center items-center">
                    Contest
                </div>

                <div class="detail-ts w-full h-10 flex rounded-br-2xl justify-center items-center">

                </div>
            </div>
        </div>
    

    </div> 

    <div class="rightbar__container">
        {% include 'home/login.html' %}
        {% include 'home/notifications.html' %}
        {% include 'home/recent_contest.html' %}
    </div> 

    {% include 'root.html' %}
    <style>
        .home_container {
            width: 64%;
        }

        .home_banner {
            background-repeat: no-repeat;
            background-image: url(./static/images/homebanner.png);
        }

        .emath_class, .search_bar, .notification_box {
            box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
        }

        .login__container {
            background: var(--sidebar-color);
            box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
        }

        .login_btn, .register_btn {
            background: #242526;
            color: #fff;
        }

        .login_btn:hover, .register_btn:hover {
            background: #3a3b3c;
        }

        .rightbar__container {
            position: fixed;
            top: 0;
            right: 0;
            margin-left: auto;
            width: 30%;
            height: 100vh;
            overflow: auto;
            background: var(--sidebar-color);
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
            padding: 30px;
        }

        .rightbar__container::-webkit-scrollbar {
            display: none;
        }


        .submissions_container, .submissions_container_detail {
            display: grid;
            grid-template-columns: 80px 120px 180px auto 50px;
            gap: 1px;
        }

        .result-ts, .time-ts, .user-ts, .contest-ts, .detail-ts {
            background: #242526;
            color: #ccc;
            font-size: 14px;
            box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
        }

        .result, .time, .user, .contest, .detail {
            background: #fff;
            color: #242526;
            font-size: 14px;
            box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
            font-weight: 500;
            cursor: pointer;
        }
    </style>
</body>
</html>
